*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button{
  width: 80px;
  height: 40px;
  cursor: pointer;
}

h1{
  font-size: 40px;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input{
  font-size: 25px;
}